<!---File name: contact.ejs-->
<!---Student name: Tsz Shuen Lai-->
<!---Student ID: 301278443-->
<!---Date: 1 Jun 2023-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/content.ejs') %>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to <%= title %> Page</h1>
            <div>
                <h3> Contact me by following information: </h3>
                <p>Phone: +1 (416) 260 7877</p>
                <p>Linkedin: linkedin.com/in/maggie-lai-817086000</p>
                <p>Email: tlai34@my.centennialcollege.ca</p>
            </div>
            <br>
            <div>
                <%- include ('partials/enquery.ejs') %>
            </div>
                <br>
            </div>
        </div>
    </main> 
    <!--bottom nav-->
   
   
    <!--script section-->
<%- include ('partials/footer.ejs') %>
